########################################
# Dependencies
########################################
/node_modules
/.pnp
.pnp.js

########################################
# Next.js
########################################
/.next
/.next/cache
/out

########################################
# Build outputs
########################################
/build

########################################
# Environment files
########################################
.env
.env*.local

########################################
# Vercel
########################################
.vercel

########################################
# TypeScript
########################################
*.tsbuildinfo
next-env.d.ts

########################################
# Testing
########################################
/coverage

########################################
# Turbo / SWC / Tooling caches
########################################
.turbo
.eslintcache

########################################
# Logs & debug
########################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

########################################
# OS / Misc
########################################

